body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  
}

/* .tilt {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.center {
  display: flex;
  justify-content: center;
}

.form {
  width: 700px;
  background-color: #6d695c;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}

button {
  cursor: pointer;
} */

.image-container {
  position: relative;
  /* display: inline-block; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.border {
  position: absolute;
  border: 2px solid white;
  pointer-events: none; /* Make sure borders don't interfere with clicking */
}

.full-height {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push children to the bottom */
  align-items: center; /* Center children horizontally */
  height: 100vh;
  background-color: #f0f0f0; /* Background color for visibility */
}

header {
  height: 60px; /* Adjust this value according to your header height */
}

/* Make sure the main content takes up the remaining space */
main {
  height: calc(100vh - 60px); /* Adjust this value to match the header height */
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}